.form .input-control{
   margin-top:1rem;
   width:100%;
   padding:1rem 2rem;
   display: block;
   border: 2px solid #eeeeee;
   font-size:16px;
}
.form .input-control:focus {
    outline: none;
    border-color: #fd6e0a;
}
.form-fill{
    font-size:16px;
    color:var(--background-dark);
    font-weight: 500;
}
.contact-form{
    width:90%;
}
.contact--message h4, .contact-form h4{
    color:var(--dark-blue);
    font-weight: bold;
}
.form textarea {
    height: 170px;
    resize: none;
}

.primary-btn {
    margin-top:1.5rem;
}

.footer{
    height:4rem;
    width: 100%;
    background-color: #ffeeea;
    text-align: center;
    line-height:4rem;
    color:var(--dark-blue);
    font-weight: 500;
    font-size:1rem;
}
.msg{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    color:#fff;
}
.scrollTop{
    position: fixed;
    bottom:4rem;
    right:3rem;
    background-color:var(--orange);
    padding: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
}

.scrollTop .arrowUp{
    font-size:1.5rem;
    color:#fff;
}
@media screen and (max-width:991px) {
 .scrollTop{
     display: none;
 }   
}